<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v1rex.smartincubator">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity
            android:name=".Activities.BottonNavigationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Activities.UserInformationsActivity" />
        <activity android:name=".Activities.MentorRegisterActivity" />
        <activity android:name=".Activities.StartupRegisterActivity" />
        <activity android:name=".Activities.MentorProfileActivity" />
        <activity android:name=".Activities.StartupProfileActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.SearchActivity"></activity>
    </application>

</manifest>